body{
    padding: 0;
    margin: 0;
}
.container-custom-grid-header{
    display: flex;
    flex-wrap: wrap;
    height: 10vh;
    box-sizing: border-box;
    width: 100%;
}
.container-custom-grid-main{
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
    box-sizing: border-box;
    width: 100%;
}
.container-custom-grid-footer{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: 10vh;
    width: 100%;
}

.section1{
    height: 100%;
    background-color: rgb(26, 26, 26);
}
.section2{
   padding-top: 15px;

}
.section3{
    height: 10vh;
    margin-bottom: 5px;
}
.section4{
    
    height: 10vh;
    margin-bottom: 5px;
}
.section5{
    height: 10vh;
    margin-bottom: 5px;
}
.section6{
    height: 10vh;

    margin-bottom: 5px;
}
.section7{
    height: 10vh;

    margin-bottom: 5px;
}
.section8{
    padding-top: 60px;

}
.section9{
    height: 30vh;
    margin-bottom: 5px;
    background-color: rgb(207, 207, 207);
}
.section10{
    height: 10vh;
    margin-bottom: 5px;
}
.section11{
    height: 10vh;
}
.section12{
    height: 100%;
    background-color: rgb(26, 26, 26);
}


.col1 {
    width: 8.33%;
}

.col2 {
    width: 16.66%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 33.33%;
}

.col5 {
    width: 41.66%;
}

.col6 {
    width: 50%;
}

.col7 {
    width: 58.33%;
}

.col8 { 
    width: 66.66%;
}

.col9 {
    width: 75%;
}

.col10 {
    width: 83.33%;
}

.col11 {
    width: 91.66%;
}


.col12 {
    width: 100%;
}