a{
    text-decoration: none !important;
}
header{
    .box{
        padding: 1rem 0;
        .hd-left{
            a{
                font-size: 30px ;
                font-weight: bold;
                color: grey;
            }
            
        }
        .hd-right{
            ul{
                list-style: none;
                justify-content: space-evenly;
                li{
                    .cart{
                        position: relative;
                        .c-icon{
                            color: black !important;
                            font-size: 22px !important;
                        }
                    }
                    span{
                        position: absolute;
                        right: -8px;
                        top: -8px;
                        font-size: 10px;
                        font-weight: bold;
                        color: white;
                        background-color: blue;
                        padding: 1px 5px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }
    
}
main{
    .container{
        .box{
            .contents{
                .content{
                    padding: 1rem;

                    &:hover{
                        .atc{
                            visibility: visible !important;
                            opacity: 1 !important;
                            color: white !important;
                            font-weight: bold;

                        }
                    }
                    .c-box{
                        background-color: rgb(212, 212, 212);
                        border-radius: 5px;
                        .c-top{
                            height: 348px;
                            img{
                                height: 100%;
                                width: 100%;
                                border-radius: 5px 5px 0 0;
                            }
                        }
                        .c-bottom{
                            padding: 1rem .5rem;
                            .atc{
                                visibility: hidden;
                                opacity: 0;
                                transition: .5s;
                                background-color: green;
                                border-radius: 6px;
                                padding: 6px 8px;
                            }
                            a{
                                color: black;
                            }
                        }
                    }
                }
                
            }
        }
    }
}
#cart-prs{
    margin-top: 3rem;
    .pr-box{
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 15px;
        border: 1px solid grey;
        input{
            width: 100%;
            text-align: center;
        }
        i{
            cursor: pointer;
            font-size: 18px;
        }
    }
}